@font-face {
  font-family: "Ubuntu Mono";

  src: url("UbuntuMono-Italic.woff2") format("woff2"), url("UbuntuMono-Italic.woff") format("woff");

  font-weight: normal;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";

  src: url("UbuntuMono-BoldItalic.woff2") format("woff2"), url("UbuntuMono-BoldItalic.woff") format("woff");

  font-weight: bold;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";

  src: url("UbuntuMono-Regular.woff2") format("woff2"), url("UbuntuMono-Regular.woff") format("woff");

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";

  src: url("UbuntuMono-Bold.woff2") format("woff2"), url("UbuntuMono-Bold.woff") format("woff");

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  font-family: Ubuntu Mono;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
