<header class="px-4 py-6 h-32 bg-gray-800 relative text-white bg-opacity-70">

    <a href="/public/" class="mx-auto flex justify-center items-center h-full cursor-pointer w-max">
        <img class="w-14 h-14" src="/public/images/site-logo.svg" alt="Logo">
        <div class="max-w-min ml-4 font-mono leading-7 font-bold text-3xl">Web Dev Tests</div>
    </a>

    <div class="absolute top-4 right-1/4 text-xl flex items-baseline cursor-pointer">
        <div>
            <img class="w-4 h-4" src="/public/images/arrow-down-glyph.svg" alt="">
        </div>
        <div class="ml-2">Eugene</div>
    </div>

</header>