<section class="mx-auto px-4 max-w-7xl rounded-md py-12">

    <div class="text-center font-bold text-3xl">
        <span class="html-text">&lt;h1&gt; </span>
        <h2 class="inline-block">Test Your Skills</h2>
        <span class="html-text"> &lt;/h1&gt;</span>
    </div>

    <hr class="my-8 opacity-50">

    <div>

        <div for="list-of-tests" class="mt-4 text-2xl block">List of available tests:</div>

        <div class="mt-4">

            <span class="html-text">&lt;ol&gt;</span>

            <ol id="list-of-tests" class="ml-4">
                <li class="p-1 cursor-pointer hover:filter-invert duration-200">
                    <a href="#">
                        <span class="html-text">&lt;li&gt;</span>
                        <span>Web Developer Test</span>
                        <span class="html-text">&lt;/li&gt;</span>
                    </a>
                </li>
                <li class="p-1 cursor-pointer hover:filter-invert duration-200">
                    <a href="#">
                        <span class="html-text">&lt;li&gt;</span>
                        <span>WordPress Developer Test</span>
                        <span class="html-text">&lt;/li&gt;</span>
                    </a>
                </li>
                <li class="p-1 cursor-pointer hover:filter-invert duration-200">
                    <a href="#">
                        <span class="html-text">&lt;li&gt;</span>
                        <span>Shopify Developer Test</span>
                        <span class="html-text">&lt;/li&gt;</span>
                    </a>
                </li>
            </ol>

            <span class="html-text">&lt;/ol&gt;</span>

        </div>

    </div>

</section>